<div class="sidebar">
  <div class="container">
    <div class="sidebar-about">
      <a href="/evenodder.html"><img style="margin-left: auto; margin-right: auto" src="https://s3.amazonaws.com/evenodder/covers/cover.png"></a>
      <p class="lead">{{ site.podcast.description }}</p>
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item" href="https://itunes.apple.com/us/podcast/even-odder/id1286571587">iTunes</a>
      <a class="sidebar-nav-item" href="{{ site.url }}/podcast.rss">RSS Feed</a>
      <a class="sidebar-nav-item" href="mailto:evenpodder@gmail.com">Email us</a>
      <a class="sidebar-nav-item" href="{{ site.url }}">Codedna.me</a>
    </nav>

    <p>&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>
  </div>
</div>
